*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2121;
    height: 100vh;
    width: 100vw;
}

#main-container {
    width: 1315px;
    height: 910px;
    background: #B6AE99;
    padding: 5px;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas-container {
    width: 100%;
    height: 630px;
    background-color: white;
    margin: auto;
}

button:focus {
    outline: 0;
}


/* ---HEROES-CARD-------------------------------------------------------- */
#heroes-container {
    width: 100%;
    height: 270px;

    /* background-image: url('assets/hero-card/hero_gui/hero-container-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */

    background-color: #2A2220;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5px;
}

.hero-card {
    background-color: transparent;
    width: 320px;
    height: 210px;
    margin-top: 5px;
    perspective: 1000px;
}

.hero-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* das über JS steuern */
/* .hero-card:hover .hero-card-inner {
    transform: rotateX(180deg);
} */

.flip-card {
    transform: rotateX(180deg);
}

.hero-card-front,
.hero-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

    border-radius: 5px;
}


/* zum testen der breite/höhe einer zelle auf dem canvas */
.test {
    width: 45px;
    height: 45px;
    background-color: green;
}

/* hero card front-content ------------------------------------------*/
/* TODO: dynamisch portrai zuweisen */
.hero-card-front {
    display: grid;
    grid-gap: 5px 0;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4.5fr 1fr 1fr;

    padding: 5px;
    background-image: url('assets/hero-card/hero_gui/hero_card_front_bg.jpg');
}

.hero-portrait {
    background-image: url('assets/hero-card/hero_portraits/anatol4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    cursor: pointer;
}

.lvl-up-indicator {
    width: 25px;
    height: 25px;
    background-image: url('assets/hero-card/hero_gui/lvlUpIcon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    margin: 5px;
}

.hero-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px 5px 5px 10px;
}

.hero-ability {
    width: 50px;
    height: 50px;
    background-image: url('assets/hero-card/hero_gui/ability_bg.jpg');
    padding: 5px;
}

.ability_slot {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* TODO: dynamisch abilities zuweisen ----------------*/
#hero-ability_1 .ability_slot {
    background-image: url('assets/hero-skills/attac.jpg');
}

.health-bar,
.resource-bar {
    width: 310px;
    height: 100%;
    background-image: url('assets/hero-card/hero_gui/hp_mp_bg.jpg');

    grid-column-start: 1;
    grid-column-end: 3;

    justify-self: center;
}

/* hero card back-content ------------------------------------------*/
.hero-card-back {
    transform: rotateX(180deg);
    background-image: url('assets/hero-card/hero_gui/hero_card_back_bg.jpg');

    display: grid;
    /* grid-gap: 5px; */
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;

    padding: 5px;
}

.hero-card-back .scroll_slot,
.hero-card-back .potion_slot,
.hero-card-back .helmet_slot,
.hero-card-back .neck_slot,
.hero-card-back .bracers_slot,
.hero-card-back .gloves_slot,
.hero-card-back .shoulder_slot,
.hero-card-back .chest_slot,
.hero-card-back .cape_slot,
.hero-card-back .belt_slot,
.hero-card-back .trinket_slot,
.hero-card-back .pants_slot,
.hero-card-back .boots_slot,
.hero-card-back .shield_slot,
.hero-card-back .ring_1_slot,
.hero-card-back .ring_2_slot,
.hero-card-back .weapon_slot {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 40%;
}

.hero-card-back .helmet_slot {
    background-image: url('assets/hero_gear/helmet.png');
    grid-area: 1 / 1 / span 2 / span 2;
}

.hero-card-back .shoulder_slot {
    background-image: url('assets/hero_gear/shoulder.png');
    grid-area: 1 / 3 / span 2 / span 2;
}

.hero-card-back .bracers_slot {
    background-image: url('assets/hero_gear/bracers.png');
    grid-area: 3 / 1 / span 2 / span 2;
}

.hero-card-back .gloves_slot {
    background-image: url('assets/hero_gear/gloves.png');
    grid-area: 3 / 3 / span 2 / span 2;
}

.hero-card-back .chest_slot {
    background-image: url('assets/hero_gear/chest.png');
    grid-area: 5 / 1 / span 2 / span 2;
}

.hero-card-back .pants_slot {
    background-image: url('assets/hero_gear/pants.png');
    grid-area: 5 / 3 / span 2 / span 2;

}

.hero-card-back .belt_slot {
    background-image: url('assets/hero_gear/belt.png');
    grid-area: 7 / 1 / span 2 / span 2;
}

.hero-card-back .boots_slot {
    background-image: url('assets/hero_gear/boots.png');
    grid-area: 7 / 3 / span 2 / span 2;

}

.hero-card-back .weapon_slot {
    background-image: url('assets/hero_gear/weapon.png');
    grid-area: 1 / 6 / span 4 / span 4;
    width: 80px;
    height: 80px;
}

.hero-card-back .shield_slot {
    background-image: url('assets/hero_gear/shield.png');
    grid-area: 1 / 10 / span 4 / span 4;
    width: 80px;
    height: 80px;
}

.hero-card-back .potion_slot {
    background-image: url('assets/hero_gear/potion.png');
    grid-area: 4 / 6 / span 4 / span 4;

}

.hero-card-back .scroll_slot {
    background-image: url('assets/hero_gear/scroll.png');
    grid-area: 4 / 10 / span 4 / span 4;
}

.hero-card-back .neck_slot,
.hero-card-back .ring_1_slot,
.hero-card-back .ring_2_slot,
.hero-card-back .cape_slot {
    width: 34px;
    height: 34px;
}

.hero-card-back .neck_slot {
    background-image: url('assets/hero_gear/neck.png');
    grid-area: 7 / 6 / span 2 / span 2;
}

.hero-card-back .ring_1_slot,
.hero-card-back .ring_2_slot {
    background-image: url('assets/hero_gear/ring.png');
}

.hero-card-back .ring_1_slot {
    grid-area: 7 / 8 / span 2 / span 2;
}

.hero-card-back .ring_2_slot {
    grid-area: 7 / 10 / span 2 / span 2;
}

.hero-card-back .cape_slot {
    background-image: url('assets/hero_gear/cape.png');
    grid-area: 7 / 12 / span 2 / span 2;
}

/* menu bar conten------------------------------------------------- */
#menu-bar {
    width: 100%;
    height: 45px;
    background-color: #F4DAA1;
    padding: 5px;

    display: grid;
    grid-template-columns: 55px 35px 160px 3fr 35px;
}

#gold-amount-display {
    font-size: 34px;
}

#toggle-inventory-btn {
    width: 35px;
    height: 35px;
    cursor: pointer;

    background-image: url('assets/menu-bar/inventory.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#toggle-screen-size-btn {
    width: 35px;
    height: 35px;
    cursor: pointer;

    background-image: url('assets/menu-bar/fullscreen.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    grid-column-start: 5;
    grid-column-end: 6;
}